<div style="border:solid green 2px; padding: 20px">
<b>–ê–Ω–¥—Ä–µ–π, –ø—Ä–∏–≤–µ—Ç!</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ï–≤–≥–µ–Ω–∏–π –î–∞—â–µ–Ω–∫–æ, –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª üòä –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ "–≤—ã".¬†

–ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å—Ç–∞—Ç—å –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–º –¥–∞–Ω–Ω—ã—Ö. –¢—ã —É–∂–µ –ø—Ä–æ–¥–µ–ª–∞–ª –±–æ–ª—å—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –Ω–æ –¥–∞–≤–∞–π —Å–¥–µ–ª–∞–µ–º –µ–≥–æ –µ—â–µ –ª—É—á—à–µ. –ù–∏–∂–µ —Ç—ã –Ω–∞–π–¥–µ—à—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –∏—Ö. –Ø –±—É–¥—É –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–≤–µ—Ç–æ–≤—É—é —Ä–∞–∑–º–µ—Ç–∫—É:

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã —Å–∞–º—ã–µ –≤–∞–∂–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –ë–µ–∑ –∏—Ö –æ—Ç—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç. </div>

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ–±–æ–ª—å—à–∏–µ –∑–∞–º–µ—á–∞–Ω–∏—è. –û–¥–Ω–∞-–¥–≤–∞ —Ç–∞–∫–∏—Ö –∑–∞–º–µ—á–∞–Ω–∏—è –≤ –ø—Ä–æ–µ–∫—Ç–µ –¥–æ–ø—É—Å—Ç–∏–º—ã, –Ω–æ –µ—Å–ª–∏ –∏—Ö –±—É–¥–µ—Ç –±–æ–ª—å—à–µ - —Ç–µ–±–µ –±—É–¥–µ—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤–Ω–µ—Å—Ç–∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è. –≠—Ç–æ –∫–∞–∫ —Ç–µ—Å—Ç–æ–≤–æ–µ –∑–∞–¥–∞–Ω–∏–µ –ø—Ä–∏ –ø—Ä–∏–µ–º–µ –Ω–∞ —Ä–∞–±–æ—Ç—É: –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –º–µ–ª–∫–∏—Ö –æ—à–∏–±–æ–∫ –º–æ–≥—É—Ç —Å—Ç–∞—Ç—å –ø—Ä–∏—á–∏–Ω–æ–π –æ—Ç–∫–∞–∑–∞ –∫–∞–Ω–¥–∏–¥–∞—Ç—É. 

</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b> –¢–∞–∫ —è –≤—ã–¥–µ–ª—è—é –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏.</div>

–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –∏–ª–∏ –æ—Ç–≤–µ—á–∞–µ—à—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω–∞—Ç—Ä–∏ ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º. –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>

–í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ.

<h1>–°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–±–∞–∑–µ" data-toc-modified-id="–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ-–∫-–±–∞–∑–µ-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ</a></span></li><li><span><a href="#–ò–∑—É—á–µ–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ò–∑—É—á–µ–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–ò–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–ê–Ω–∞–ª–∏—Ç–∏–∫–∞-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ê–Ω–∞–ª–∏—Ç–∏–∫–∞-–¥–∞–Ω–Ω—ã—Ö-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ê–Ω–∞–ª–∏—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö</a></span><ul class="toc-item"><li><span><a href="#C–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞" data-toc-modified-id="C–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>C–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞</a></span></li><li><span><a href="#–ö–∞–∫–∞—è-—Å—Ä–µ–¥–Ω—è—è-–æ—Ü–µ–Ω–∫–∞-–∏-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-—É-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏" data-toc-modified-id="–ö–∞–∫–∞—è-—Å—Ä–µ–¥–Ω—è—è-–æ—Ü–µ–Ω–∫–∞-–∏-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-—É-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>–ö–∞–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —É –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏</a></span></li><li><span><a href="#–ö–∞–∫–æ–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü" data-toc-modified-id="–ö–∞–∫–æ–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>–ö–∞–∫–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü</a></span></li><li><span><a href="#–ö–∞–∫–æ–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫?" data-toc-modified-id="–ö–∞–∫–æ–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>–ö–∞–∫–æ–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫?</a></span></li><li><span><a href="#–ö–∞–∫–æ–π-–∞–≤—Ç–æ—Ä-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥?" data-toc-modified-id="–ö–∞–∫–æ–π-–∞–≤—Ç–æ—Ä-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥?-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>–ö–∞–∫–æ–π –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥?</a></span></li></ul></li><li><span><a href="#–í—ã–≤–æ–¥—ã" data-toc-modified-id="–í—ã–≤–æ–¥—ã-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>–í—ã–≤–æ–¥—ã</a></span></li></ul></div>

# –ö–Ω–∏–∂–Ω–æ–µ –¥–µ–ª–æ

–ö–æ–º–ø–∞–Ω–∏–µ–π –±—ã–ª–æ –ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∏–º–µ—é—â—É—é—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∏ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è —Ä–∞–∑–≤–∏—Ç–∏—è

# –¶–µ–ª—å:
–ü—Ä–æ–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–π –Ω–∞—Ö–æ–¥—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö —Å —Ü–µ–ª—å—é —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞–Ω–∏—è —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–≥–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—è –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

# –ò—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ:
–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥
–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö, —Å–æ–¥–µ—Ä–∂–∞—â–∞—è —Ç–∞–±–ª–∏—Ü—ã: books, authors, publishers, ratings –∏ reviews

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ó–¥–æ—Ä–æ–≤–æ, –∫–æ–≥–¥–∞ –µ—Å—Ç—å –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ –≤ —Å–∞–º –ø—Ä–æ–µ–∫—Ç, –∫–∞–∂–¥—ã–π —Å–º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–µ–µ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ –∫–æ–Ω—Ü–µ–ø—Ü–∏–∏ / –¥–µ—Ç–∞–ª—è—Ö —Ä–∞–±–æ—Ç—ã. 

</div>

## –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {
    'user': 'praktikum_student',
    'pwd': 'Sdf4$2;d-d30pp',
    'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
    'port': 6432, 
    'db': 'data-analyst-final-project-db'} 
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
db_config['pwd'],
db_config['host'],
db_config['port'],
db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ö–æ–Ω–Ω–µ–∫—à–Ω –≥–æ—Ç–æ–≤, —Ç–µ–ø–µ—Ä—å –º–æ–∂–µ–º –¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã üòä
</div>

In [2]:
sql='''
SELECT *
FROM books
LIMIT 5
'''

In [3]:
pd.io.sql.read_sql(sql, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–°–¥–µ–ª–∞–µ–º –∑–∞–ø—Ä–æ—Å –≤ –≤–∏–¥–µ —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞

In [4]:
def select(sql):
    return pd.io.sql.read_sql(sql, con = engine)

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û—Ç–ª–∏—á–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø—Ä–æ—Å–æ–≤ üëç
</div>

In [5]:
select(sql)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–†–∞–±–æ—Ç–∞–µ—Ç, –æ—Ç–ª–∏—á–Ω–æ

## –ò–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [6]:
sql='''
SELECT *
FROM books b
LIMIT 5
'''

In [7]:
select(sql)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [8]:
sql='''
SELECT count(b.book_id) AS cnt
FROM books b
'''

In [9]:
select(sql)

    cnt
0  1000

–¢–∞–±–ª–∏—Ü–∞ book —Å–æ–¥–µ—Ä–∂–∏—Ç 1000 –∑–∞–ø–∏—Å–µ–π

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

In [10]:
sql='''
SELECT *
FROM authors a
LIMIT 5
'''

In [11]:
select(sql)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [12]:
sql='''
SELECT count(a.author_id) AS cnt
FROM authors a
'''

In [13]:
select(sql)

   cnt
0  636

–¢–∞–±–ª–∏—Ü–∞ autors —Å–æ–¥–µ—Ä–∂–∏—Ç 636 –∑–∞–ø–∏—Å–µ–π

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

In [14]:
sql='''
SELECT *
FROM publishers p
LIMIT 5
'''

In [15]:
select(sql)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [16]:
sql='''
SELECT count(p.publisher_id) AS cnt
FROM publishers p
'''

In [17]:
select(sql)

   cnt
0  340

–¢–∞–±–ª–∏—Ü–∞ publisher —Å–æ–¥–µ—Ä–∂–∏—Ç 340 –∑–∞–ø–∏—Å–µ–π

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

In [18]:
sql='''
SELECT *
FROM ratings r
LIMIT 5
'''

In [19]:
select(sql)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [20]:
sql='''
SELECT count(r.rating_id) AS cnt
FROM ratings r
'''

In [21]:
select(sql)

    cnt
0  6456

–¢–∞–±–ª–∏—Ü–∞  rating —Å–æ–¥–µ—Ä–∂–∏—Ç 6456 –∑–∞–ø–∏—Å–µ–π

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

In [22]:
sql='''
SELECT *
FROM reviews rev
LIMIT 5
'''

In [23]:
select(sql)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [24]:
sql='''
SELECT count(rev.review_id) AS cnt
FROM reviews rev
'''

In [25]:
select(sql)

    cnt
0  2793

–¢–∞–±–ª–∏—Ü–∞ reviews —Å–æ–¥–µ—Ä–∂–∏—Ç 2793 –∑–∞–ø–∏—Å–µ–π.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ß—Ç–æ –∂, –¥–∞–Ω–Ω—ã–µ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ —Ç–µ–ø–µ—Ä—å –º—ã –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∏—Ç—å –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –Ω–∞—à–∏—Ö –∑–∞–¥–∞–Ω–∏–π.
    
–ö—Å—Ç–∞—Ç–∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º: 
    
`pd.read_sql(query, con)`
    
</div>

## –ê–Ω–∞–ª–∏—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### C–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [26]:
sql='''
SELECT count(b.book_id) AS cnt
FROM books b
WHERE publication_date > '2000-01-01'
'''

In [27]:
select(sql)

   cnt
0  819

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —è–∑—ã–∫ `SQL` —Ä–∞–±–æ—Ç–∞–µ—Ç –≤ —Å—Ç—Ä–æ–≥–æ–º —Ñ–æ—Ä–º–∞—Ç–µ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –ª–æ–≥–∏—á–µ—Å–∫–∏—Ö —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–π `>` –∏ –ø—Ä–æ—á–∏—Ö –∑–Ω–∞–∫–æ–≤.
    
–í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –ª–∏—à–Ω–∏–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞–º —Å—Ç–æ–∏—Ç —É–∫–∞–∑–∞—Ç—å `>=`, —Ö–æ—Ç—å –∏ —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–∞ –Ω–µ–º–Ω–æ–≥–æ –Ω–µ—Ç–æ—á–Ω–∞—è –≤ –Ω–∞—à–µ–º –∑–∞–¥–∞–Ω–∏–∏.

    
–û—Å—Ç–∞–≤–∏–ª –ø—Ä–∏–º–µ—Ä –Ω–∏–∂–µ.
    
</div>

### –ö–∞–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —É –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [28]:
sql='''
WITH average_rating AS
  (SELECT b.book_id,
          title,
          avg(r.rating) AS average_rating
   FROM books b
   LEFT JOIN ratings r ON r.book_id = b.book_id
   GROUP BY b.book_id),
     count_reviews AS
  (SELECT b.book_id,
          title,
          count(rev.review_id) AS count_reviews
   FROM books b
   LEFT JOIN reviews rev ON rev.book_id = b.book_id
   GROUP BY b.book_id)
SELECT a.book_id,
       a.title, 
       c.count_reviews,
       a.average_rating
FROM average_rating a
JOIN count_reviews c ON a.book_id = c.book_id
ORDER BY a.average_rating DESC
LIMIT 5
'''

In [29]:
select(sql)

,book_id,title,count_reviews,average_rating
0,55,A Woman of Substance (Emma Harte Saga #1),2,5.0
1,57,Act of Treason (Mitch Rapp #9),2,5.0
2,17,A Dirty Job (Grim Reaper #1),4,5.0
3,20,A Fistful of Charms (The Hollows #4),2,5.0
4,62,Alas Babylon,2,5.0

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–°—É–ø–µ—Ä, –≤—Å–µ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ üëç
    
</div>

In [30]:
sql='''
SELECT avg(r.rating)
FROM ratings r
WHERE r.book_id = 55
'''

In [31]:
select(sql)

   avg
0  5.0

In [32]:
sql='''
SELECT count(rev.review_id)
FROM reviews rev
WHERE rev.book_id = 57
'''

In [33]:
select(sql)

   count
0      2

–ù–∞–∏–≤—ã—Å—à–∞—è –æ—Ü–µ–Ω–∫–∞ - 5, –Ω–∞–∏–º–µ–Ω—å—à–∞—è - 2. –î–ª—è –∫–∞–∂–¥–æ–π –∏–∑ –∫–Ω–∏–≥ –º—ã –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤

### –ö–∞–∫–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [34]:
sql='''
SELECT p.publisher_id,
       p.publisher,
       count(book_id) AS cnt
FROM books b
JOIN publishers p ON p.publisher_id = b.publisher_id
WHERE num_pages > 50
GROUP BY p.publisher_id,
         p.publisher
HAVING count(book_id) =
  (SELECT max(cnt)
   FROM
     (SELECT count(book_id) AS cnt
      FROM books b
      WHERE num_pages > 50
      GROUP BY b.publisher_id) AS t)
'''

In [35]:
select(sql)

   publisher_id      publisher  cnt
0           212  Penguin Books   42

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ (42) —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–æ –≤–µ—Ä–Ω–æ üëç
    
–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –∫–ª—é—á–µ–≤—ã–µ —Å–ª–æ–≤–∞ —è–∑—ã–∫–∞ `SQL` –æ—Ç–æ–±—Ä–∞–∂–∞–µ—à—å –≤ –≤–µ—Ä—Ö–Ω–µ–º —Ä–µ–≥–∏—Å—Ç—Ä–µ, —Ç–∞–∫ –±—ã—Å—Ç—Ä–µ–µ –ø–æ–Ω—è—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É –∑–∞–ø—Ä–æ—Å–∞.
    
---
    
–û—Å—Ç–∞–≤–∏–ª –ø—Ä–∏–º–µ—Ä –Ω–∏–∂–µ, –∫–∞–∫ —ç—Ç–æ –º–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –µ—â–µ.
    
</div>

In [36]:
pd.read_sql("""SELECT p.publisher, COUNT(b.book_id) as books_count FROM books b 
LEFT JOIN publishers p ON p.publisher_id = b.publisher_id
WHERE b.num_pages > 50
GROUP BY p.publisher
ORDER BY books_count DESC
LIMIT 1
""", con = engine)

       publisher  books_count
0  Penguin Books           42

### –ö–∞–∫–æ–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫?

In [37]:
sql='''
WITH users_more_50 AS
  (SELECT r.username
   FROM ratings r
   GROUP BY r.username
   HAVING (count(r.rating_id) > 50))
SELECT avg(t.cnt) AS avg_review
FROM
  (SELECT count(rev.review_id) AS cnt
   FROM reviews rev
   WHERE rev.username in
       (SELECT *
        FROM users_more_50)
   GROUP BY rev.username) AS t
'''

In [38]:
select(sql)

   avg_review
0   24.333333

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í—Å–µ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ üëç
    
</div>

–í —Å—Ä–µ–¥–Ω–µ–º, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏–π –±–æ–ª—å—à–µ 50-—Ç–∏ –æ—Ü–µ–Ω–æ–∫ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 24 –æ–±–∑–æ—Ä–∞ –Ω–∞ –∫–Ω–∏–≥–∏

### –ö–∞–∫–æ–π –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥?

In [52]:
sql='''
SELECT a.author, r.avg_rating
FROM books b
LEFT JOIN 
(select book_id, avg(rating) avg_rating, count(rating) count_rating
from ratings
group by book_id) r 
on r.book_id=b.book_id
LEFT JOIN authors a on a.author_id=b.author_id
--GROUP BY a.author
WHERE r.count_rating>=50
ORDER BY r.avg_rating desc
LIMIT 1
'''

In [53]:
select(sql)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.414634

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ —ç—Ç–æ 	J.K. Rowling

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ù–∞—à–∏ —Ä–∞—Å—á–µ—Ç—ã –ø–æ–ª—É—á–∏–ª–∏—Å—å —Å –¥—É–±–ª—è–º–∏, —Ç.–∫. –º—ã –∫ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–µ 2 –∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö —É–≤–µ–ª–∏—á–∏–≤–∞–µ—Ç—Å—è –≥–¥–µ –Ω–µ—Ç —Å–æ–≤–ø–∞–¥–µ–Ω–∏–π —á–µ—Ä–µ–∑ `LEFt JOIN`. –ö—Å—Ç–∞—Ç–∏ —É —Ç–µ–±—è –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —á–µ—Ä–µ–∑ `count`, –∞ –Ω–∞–º –Ω—É–∂–µ–Ω —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∞–≤—Ç–æ—Ä–∞.
    
–ü—Ä–æ–±–ª–µ–º–∞ —Ç–∞–∫–∂–µ –≤ —Ç–æ–º, —á—Ç–æ –Ω–∞–º –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—Å–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ —Ä–∞—Å—á–µ—Ç—ã –∑–∞—Ä–∞–Ω–µ–µ –ø–æ —Ç–∞–±–ª–∏—Ü–∞–º —Ä–µ–≤—å—é –∏ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –∏ –ø—Ä–∏—Å–æ–µ–¥–∏–Ω–∏—Ç—å –∏—Ö –∫ —Ç–∞–±–ª–∏—Ü–µ `books` —Ç–∞–∫–∂–µ —Å –ø–æ–º–æ—â—å—é `LEFt JOIN` –∏ –≤—ã–±—Ä–∞—Ç—å –ø—Ä–æ—Å—Ç–æ –ø–æ—Å—á–∏—Ç–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ –∫–Ω–∏–≥–∏, —Ç–æ–≥–¥–∞ –¥—É–±–ª–µ–π —É –Ω–∞—Å –Ω–µ –¥–æ–ª–∂–Ω–æ –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –∏ –±—É–¥–µ—Ç –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤—Å–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.
    
–î–∞–≤–∞–π –ø–æ–ø—Ä–∞–≤–∏–º —ç—Ç–æ—Ç –º–æ–º–µ–Ω—Ç.
    
</div>

<div class="alert alert-info" style="border:solid blue 2px; padding: 20px"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ñ–µ–Ω—å, –ø—Ä–∏–≤–µ—Ç!–î–∞, —Å–æ–≥–ª–∞—Å–µ–Ω, –ø–æ–ø—Ä–∞–≤–∏–ª, —Ç–µ–ø–µ—Ä—å –≤—Ä–æ–¥–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ) –ù–µ –¥—É–º–∞–ª, —á—Ç–æ —Ç—É—Ç —Ç–æ–∂–µ –Ω–∞–¥–æ –ø–∏—Å–∞—Ç—å –≤—ã–≤–æ–¥—ã, –ø—Ä–æ—Å—Ç–æ –≤ –∑–∞–¥–∞–Ω–∏–∏ —ç—Ç–æ–≥–æ –Ω–µ—Ç, –Ω–æ —Å–µ–π—á–∞—Å –Ω–∞–ø–∏—à—É)</div>

<div class="alert alert-danger">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–§–∏–Ω–∞–ª—å–Ω—ã–π –≤—ã–≤–æ–¥ –∏ –µ—Å—Ç—å –≥–ª–∞–≤–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç—ã. –°—Ç–æ–∏—Ç –ø–∏—Å–∞—Ç—å –µ–≥–æ –ø–æ–¥—Ä–æ–±–Ω–æ –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –ø—Ä–æ–≤–µ–¥–µ–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã. –í –Ω–µ–º –º–æ–∂–Ω–æ –ø—Ä–∏–≤–æ–¥–∏—Ç—å –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –≤ —Ö–æ–¥–µ —Ä–∞–±–æ—Ç—ã –∑–Ω–∞—á–µ–Ω–∏—è. –¢–∞–∫–∂–µ –º–æ–∂–Ω–æ —Ä–∞—Å–ø–∏—Å–∞—Ç—å –≤—Å–µ, —á—Ç–æ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ –≤ —Ä–∞–±–æ—Ç–µ.
    
–°–∞–º–æ–µ –≥–ª–∞–≤–Ω–æ–µ ‚Äî —ç—Ç–æ –≤—ã–≤–æ–¥ –¥–æ–ª–∂–µ–Ω —Å–æ–¥–µ—Ä–∂–∞—Ç—å –≤ —Å–µ–±–µ –æ—Ç–≤–µ—Ç –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—É—é –∑–∞–¥–∞—á—É.

</div>

## –í—ã–≤–æ–¥—ã

–í —Ö–æ–¥–µ –∞–Ω–∞–ª–∏–∑–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–Ω–∏–≥–∞—Ö (–≤ —Ç–æ–º —á–∏—Å–ª–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –æ—Ü–µ–Ω–∫–∞—Ö –∏ –æ–±–∑–æ—Ä–∞—Ö), –±—ã–ª–∏ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–µ —Ñ–∞–∫—Ç—ã:


- 819 –∫–Ω–∏–≥ –∏–∑ 1000 –±—ã–ª–∏ –∏–∑–¥–∞–Ω—ã –≤ 21 –≤–µ–∫–µ (–ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000)
- –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏ —è–≤–ª—è–µ—Ç—Å—è 5, –∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è (–∏–∑ –∏–º–µ—é—â–∏—Ö—Å—è) 2
- 42 –∫–Ω–∏–≥–∏ –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è –Ω–∞–∏–±–æ–ª—å—à–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ (–±—Ä–æ—à—é—Ä—ã –Ω–µ —É—á–∏—Ç—ã–≤–∞–ª–∏—Å—å)
- –∞–≤—Ç–æ—Ä–æ–º —Å —Å–∞–º—ã–º–∏ –≤—ã—Å–æ–∫–∏–º–∏ –æ—Ü–µ–Ω–∫–∞–º–∏ —è–≤–ª—è–µ—Ç—Å—è J.K. Rowling
- –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –æ—Å—Ç–∞–≤–ª—è—é—â–∏–µ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫ –∫ –∫–Ω–∏–≥–∞–º, –≤ —Å—Ä–µ–¥–Ω–µ–º –¥–µ–ª–∞—é—Ç –ø–æ 24 –æ–±–∑–æ—Ä–∞